.logo {
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.logo i {
    color: #29d9d5;
    padding-right: .5rem;
}

#menu-btn {
    font-size: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

section.con {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section.con .img-bg {
    position: relative;
    width: 50%;
    height: 100%;
}

section.con .img-bg img {
    position: absolute;
    top: 140px;
    left: -48px;
    width: 120%;
    height: 67%;
    object-fit: cover;
}

section.con .img-bg {
    padding: 10px;
    transition: transform .2s;
    /* Animation */
}

section.con .img-bg:hover {
    transform: scale(1.12);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

section.con .login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}



section.con .login .form h2 {
    color: #607d8b;
    font-weight: 500;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

section.con .login .form .input-form {
    margin-bottom: 20px;
}

section.con .login .form .input-form span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607db8;
    letter-spacing: 1px;
}

section.con .login .form .input-form input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

section.con .login .form .input-form input[type="submit"] {
    background: #ff4584;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
}

section.con .login .form .input-form input[type="submit"]:hover {
    background: #f53677;
}

section.con .login .form .nho-dang-nhap {
    margin-bottom: 10px;
    color: #607d8b;
    font-size: 14px;
}

section.con .login .form .input-form p {
    color: #607d8b;
}

section.con .login .form .input-form p a {
    color: #ff4584;
}

section.con .login .form h3 {
    color: #607d8b;
    text-align: center;
    margin: 20px 0 10px;
    font-weight: 500;
}

section.con .login .form .icon-dang-nhap {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.con .login .form .icon-dang-nhap li {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4rem;
    border-radius: 50%;
    border: 0.2rem solid #29d9d5;
    margin-right: 0.5rem;
    text-align: center;
}

section.con .login .form .icon-dang-nhap li:nth-child(1) {
    color: #3b5999;
}

section.con .login .form .icon-dang-nhap li:nth-child(2) {
    color: #dd4b39;
}

section.con .login .form .icon-dang-nhap li:nth-child(3) {
    color: #55acee;
}

section.con .login .form .icon-dang-nhap li i {
    font-size: 24px;
}



/* src/Styles/Login.css */

/* CSS cho các icon trong danh sách */
.icon-dang-nhap li {
    display: inline-block;
    margin: 0 10px;
    
 
}

/* CSS cho các icon, bao gồm cả icon Google */
.icon-dang-nhap i, .icon-dang-nhap svg {
    font-size: 24px; /* Kích thước của icon */
    cursor: pointer;
    color: #db4437; /* Màu của Google */
    border-radius: 100%; /* Để làm cho icon tròn */
    background-color: #fff; /* Nền trắng để nổi bật hơn */
    padding: 8px; /* Khoảng cách xung quanh icon */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Hiệu ứng đổ bóng */
}
